{% extends './base.html' %}
{% load static  %}
{% block content %}

<div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Edit Profile</h5>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" disabled="" class="form-control" placeholder="Username" value="{{user.get_username}}">
                  </div>
                </div>
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" disabled="" class="form-control" placeholder="email@email.com" value="{{user.email}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="firstname" class="form-control" placeholder="First Name" value="{{user.first_name}}">
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name="lastname" class="form-control" placeholder="Last Name" value="{{user.last_name}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" name="address" class="form-control" placeholder="Home Address" value="{{user.profile.address}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-md-1">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" placeholder="City" value="{{user.profile.city}}">
                  </div>
                </div>
                <div class="col-md-4 px-md-1">
                  <div class="form-group">
                    <label>State</label>
                    <select class="form-control" name="state" value="{{user.profile.state}}">

                        <option value="AL" {% if user.profile.state == "AL" %}selected="selected"{% endif %}>Alabama</option>
                        <option value="AK" {% if user.profile.state == "AK" %}selected="selected"{% endif %}>Alaska</option>
                        <option value="AZ" {% if user.profile.state == "AZ" %}selected="selected"{% endif %}>Arizona</option>
                        <option value="AR" {% if user.profile.state == "AR" %}selected="selected"{% endif %}>Arkansas</option>
                        <option value="CA" {% if user.profile.state == "CA" %}selected="selected"{% endif %}>California</option>
                        <option value="CO" {% if user.profile.state == "CO" %}selected="selected"{% endif %}>Colorado</option>
                        <option value="CT" {% if user.profile.state == "CT" %}selected="selected"{% endif %}>Connecticut</option>
                        <option value="DE" {% if user.profile.state == "DE" %}selected="selected"{% endif %}>Delaware</option>
                        <option value="DC" {% if user.profile.state == "DC" %}selected="selected"{% endif %}>District Of Columbia</option>
                        <option value="FL" {% if user.profile.state == "FL" %}selected="selected"{% endif %}>Florida</option>
                        <option value="GA" {% if user.profile.state == "GA" %}selected="selected"{% endif %}>Georgia</option>
                        <option value="HI" {% if user.profile.state == "HI" %}selected="selected"{% endif %}>Hawaii</option>
                        <option value="ID" {% if user.profile.state == "ID" %}selected="selected"{% endif %}>Idaho</option>
                        <option value="IL" {% if user.profile.state == "IL" %}selected="selected"{% endif %}>Illinois</option>
                        <option value="IN" {% if user.profile.state == "IN" %}selected="selected"{% endif %}>Indiana</option>
                        <option value="IA" {% if user.profile.state == "IA" %}selected="selected"{% endif %}>Iowa</option>
                        <option value="KS" {% if user.profile.state == "KS" %}selected="selected"{% endif %}>Kansas</option>
                        <option value="KY" {% if user.profile.state == "KY" %}selected="selected"{% endif %}>Kentucky</option>
                        <option value="LA" {% if user.profile.state == "LA" %}selected="selected"{% endif %}>Louisiana</option>
                        <option value="ME" {% if user.profile.state == "ME" %}selected="selected"{% endif %}>Maine</option>
                        <option value="MD" {% if user.profile.state == "MD" %}selected="selected"{% endif %}>Maryland</option>
                        <option value="MA" {% if user.profile.state == "MA" %}selected="selected"{% endif %}>Massachusetts</option>
                        <option value="MI" {% if user.profile.state == "MI" %}selected="selected"{% endif %}>Michigan</option>
                        <option value="MN" {% if user.profile.state == "MN" %}selected="selected"{% endif %}>Minnesota</option>
                        <option value="MS" {% if user.profile.state == "MS" %}selected="selected"{% endif %}>Mississippi</option>
                        <option value="MO" {% if user.profile.state == "MO" %}selected="selected"{% endif %}>Missouri</option>
                        <option value="MT" {% if user.profile.state == "MT" %}selected="selected"{% endif %}>Montana</option>
                        <option value="NE" {% if user.profile.state == "NE" %}selected="selected"{% endif %}>Nebraska</option>
                        <option value="NV" {% if user.profile.state == "NV" %}selected="selected"{% endif %}>Nevada</option>
                        <option value="NH" {% if user.profile.state == "NH" %}selected="selected"{% endif %}>New Hampshire</option>
                        <option value="NJ" {% if user.profile.state == "NJ" %}selected="selected"{% endif %}>New Jersey</option>
                        <option value="NM" {% if user.profile.state == "NM" %}selected="selected"{% endif %}>New Mexico</option>
                        <option value="NY" {% if user.profile.state == "NY" %}selected="selected"{% endif %}>New York</option>
                        <option value="NC" {% if user.profile.state == "NC" %}selected="selected"{% endif %}>North Carolina</option>
                        <option value="ND" {% if user.profile.state == "ND" %}selected="selected"{% endif %}>North Dakota</option>
                        <option value="OH" {% if user.profile.state == "OH" %}selected="selected"{% endif %}>Ohio</option>
                        <option value="OK" {% if user.profile.state == "OK" %}selected="selected"{% endif %}>Oklahoma</option>
                        <option value="OR" {% if user.profile.state == "OR" %}selected="selected"{% endif %}>Oregon</option>
                        <option value="PA" {% if user.profile.state == "PA" %}selected="selected"{% endif %}>Pennsylvania</option>
                        <option value="RI" {% if user.profile.state == "RI" %}selected="selected"{% endif %}>Rhode Island</option>
                        <option value="SC" {% if user.profile.state == "SC" %}selected="selected"{% endif %}>South Carolina</option>
                        <option value="SD" {% if user.profile.state == "SD" %}selected="selected"{% endif %}>South Dakota</option>
                        <option value="TN" {% if user.profile.state == "TN" %}selected="selected"{% endif %}>Tennessee</option>
                        <option value="TX" {% if user.profile.state == "TX" %}selected="selected"{% endif %}>Texas</option>
                        <option value="UT" {% if user.profile.state == "UT" %}selected="selected"{% endif %}>Utah</option>
                        <option value="VT" {% if user.profile.state == "VT" %}selected="selected"{% endif %}>Vermont</option>
                        <option value="VA" {% if user.profile.state == "VA" %}selected="selected"{% endif %}>Virginia</option>
                        <option value="WA" {% if user.profile.state == "WA" %}selected="selected"{% endif %}>Washington</option>
                        <option value="WV" {% if user.profile.state == "WV" %}selected="selected"{% endif %}>West Virginia</option>
                        <option value="WI" {% if user.profile.state == "WI" %}selected="selected"{% endif %}>Wisconsin</option>
                        <option value="WY" {% if user.profile.state == "WY" %}selected="selected"{% endif %}>Wyoming</option>
                    </select>	

                  </div>
                </div>
                <div class="col-md-4 pl-md-1">
                  <div class="form-group">
                    <label>Postal Code</label>
                    <input type="number" name="zip_code" class="form-control" placeholder="ZIP Code" value="{{user.profile.zip_code}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea rows="4" cols="80" name="bio" class="form-control" placeholder="Here can be your description" value="Desc">{{user.profile.bio}}</textarea>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary" onclick="saveSetting()">Save</button>
              </div>
            </form>
          </div>

        </div>
      </div>

<script type="text/javascript">

    function saveSetting() {
      functions.showNotification('top','right', 'You have successfully saved your profile settings!')
    }

</script>

{% endblock content %}