{% extends 'game/base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Buy Item</h3>
        <form method="POST">
            {% csrf_token %}

            {{ form.errors }}
            {% for field in form %}
            <div class="form-group">

                {{ field.label_tag }}
                {% for error in field.errors %}
                    <p class="text-warning">{{ error }}</p>
                {% endfor %}
                {{ field }}
                {% if field.help_text %}
                    <p class="form-text text-muted">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Buy Now</button>
        </form>

        <div>
        </div>

    </div>
</div>


{% endblock content %}