{% extends 'game/base.html' %}
{% block content %}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Login</h3>
        <form method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
                    <p class="text-warning">{{ form.non_field_errors.as_text }}</p>
            {% endif %}
            {% for field in form %}
            <div class="form-group">

                {{ field.label_tag }}
                {% for error in field.errors %}
                    <p class="text-warning">{{ error }}</p>
                {% endfor %}
                {{ field }}
                {% if field.help_text %}
                    <p class="form-text text-muted">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>

        <div>
            <small>
                Need an account? <a href="{% url 'register' %}">Signup</a>
            </small>
        </div>

    </div>
</div>

{% endblock content %}