{% extends 'game/base.html' %}
{% block content %}
        <h3>
            Register
        </h3>
        <div>
            <form method="POST">
                {% csrf_token %}

                <fieldset>
                    {{ form.as_p }}
                </fieldset>
                
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>

            <div>
                <small>
                    Do you already have an account? <a href="{% url 'login' %}">Login</a>
                </small>
            </div>
        </div>

        
{% endblock content %}