{% extends 'game/base.html' %}
{% block content %}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h1>{{tournament.name}}</h1>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="card-body">
        <p>Number of Players: {{tournament.no_of_players}}</p>
        <p>Start Date: {{tournament.start_date}}</p>
        <hr>
        <h3>Players Registered</h3>
        {% for reg in regs %}
            <p>{{ reg.player.username }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}