<!DOCTYPE html>
<html>
<head>
	<title>Submit Game Match Result</title>
</head>
<body>
	<h1>Game Match Result</h1>
	<form action="/action_page.php">
	  <label for="gameTitle">Game Title:</label><br>
	  <input type="text" id="gameTitle" name="gameTitle" value="RPS"><br><br>
	  <label for="opponentName">Opponent Name:</label><br>
	  <input type="text" id="opponentName" name="opponentName" value="Hartloff"><br><br>
	  <label>Who won the match?</label><br>
	  <input type="radio" id="you" name="you" value="you">
	  <label for="you">You</label>
	  <input type="radio" id="opponent" name="opponent" value="opponent">
	  <label for="opponent">Opponent</label><br><br>
	  <input type="submit" value="Submit">
	</form> 
</body>
</html>
